@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-section {
  margin-right: 20px;
}

.hamburger-menu {
  height: 24px;
  margin: 0 24px 0 24px;
  cursor: pointer;
}

.youtube-logo {
  display: inline-block;
  height: 20px;
  align-items: center;
  cursor: pointer;
}

.middle-section {
  display: flex;
  margin-left: 60px;
  width: 40%;
}

.search-bar {
  color: rgb(0, 0, 0);
  height: 40px;
  border: 1px solid rgb(204, 204, 204);
  font-size: 16px;
  border-radius: 2px;
  padding: 1px 2px 1px 12px;
  width: 100%;
  max-width: 358px;
}

.search-button {
  display: inline-block;
  padding: 5px 20px;
  height: 40px;
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
}

.search-image {
  height: 24px;
  width: 24px;
}


.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
}

.voice-search-icon {
  height: 24px;
  width: 24px;
}

.thumbnail {
  width: 278px;
  display: block;
}

.video-title {
  width: 300px;
}

.video-author, 
.video-stats {
  display: block;
}

.video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}